body {
    font-family: Arial,sans-serif;
    background-color: #2a1d4e;
    margin: 0;
    padding: 0;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

.title{
    color: #725fa8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.form-container { 
    background-color: #fffffffd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 75px;

}
.form-container form{
    width: 80%;
}
.dadosbasicos{
    display: flex;
    flex-direction: column;
}
.dadosbasicos div, span{
    display: flex;
    flex-direction: column;
}
.form-container div {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="range"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

textarea {
    resize: vertical;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
}
.checkbox-group label {
    font-weight: normal;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #664caf;
    color: white;
}

footer{
    background-color: #000000;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.text-footer{
    justify-items: center;
    color: white;
    

}